/* .block{
    width: 200px;
    height: 200px;
    background: orange;
    font-size: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;             
}
.white-text{
    color: white;                 
} */

.red{
    color: red;
}


